<link rel="stylesheet" href="./search.css">
<h1>Search for new books!</h1>
<a href="/">search</a>
<a href="/books">view reading list</a>
<form>
  <p>
    <label for="search">search</label>
    <input type="text" name="search" id="search">
  </p>
  <p>
    <button id="searchBook">Search Book</button>
  </p>
</form>
<div id="books"></div>
<script src="./search.js"></script>